.selectize-input {
    height: 30px;
    margin: 3px 0;
    box-sizing: border-box;
    padding: 5px 6px 6px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#main {
    background: red;
}
