body {
  &.job-overlay-open {
    overflow-y: hidden;
  }
}

.mod_joblist {
  .job_short {
    > .inner {
      padding: 1.5rem;
      background: #FFFFFF;

      > .links {
        display: flex;
        justify-content: space-between;
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10000;
      background: transparentize(#000000, .25);
      opacity: 0;
      pointer-events: none;
      transition: .33s ease-in-out;

      &.open {
        opacity: 1;
        pointer-events: auto;
      }

      > .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 95%;
        height: 95%;
        background: #FFFFFF;
        display: flex;

        > .actions {
          padding: 1.5rem;

          > button, > a {
            width: 100%;
            display: block;
            text-transform: uppercase;
            text-align: left;
          }
        }

        > .content {
          padding: 1.5rem;
          height: 100%;
          flex: 1;
          overflow-y: auto;

          > iframe {
            height: 100%;
          }
        }
      }
    }
  }
}
