

.mod_joblist {
  .job_short {
    > .inner {
      padding: 1.5rem;
      background: #FFFFFF;

      > .links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }
  }
}

.mod_jobapplication {
  > .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;

    .option {
      flex: 1;
      padding: 15px;
      position: relative;

      @media (max-width: 991px) {
        width: 100%;
      }

      > .inner {
        height: 100%;
        background: #FFFFFF;
        padding: 1.5rem;
        display: flex;
        flex-flow: column;

        > .icon {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;
        }

        > .text {
          text-align: center;
        }

        > .links {
          margin-top: auto;
          display: flex;
          flex-flow: column;

          > .btn {
            display: block;
          }
        }
      }
    }
  }
}

.mod_jobapplicationbanner {
  background: #FFFFFF;

  &.block {
    overflow: visible;
  }

  > .container {
    @media (max-width: 991px) {
      padding: 0;
    }

    > .inner {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      align-items: center; 
      
      .jobbanner-left-side, .jobbanner-right-side{
        *{
          display: inline-block;
        }
      }
      .jobbanner-left-side{
        .jobbanner-symbol{
          padding-left: .5rem;
          font-size: 2rem;
          vertical-align: sub;
        }
      }

      > .image {
        padding: .5rem 0;

        > img {
          max-width: 240px;

          @media (max-width: 991px) {
            max-width: 45vw;
          }
        }
      }

      > .btn {
        margin: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
